@import 'node_modules/bootswatch/dist/zephyr/variables';
@import "node_modules/bootstrap/scss/functions";
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins/breakpoints';

.postCardLink {
    color: $body-color;

    &:hover {
        text-decoration: none;
        color: $body-color;
    }
}

.postCard {
    position: relative;
    top: 0;
    transition: all ease-in-out 0.1s;
    height: 100%;

    &:hover {
        cursor: pointer;
        top: -4px;
        border-color: $primary;
    }
}

.postThumbnailContainer {
    position: relative;
    height: 100vw;
    max-height: 200px;
}

.postThumbnail {
    border-radius: 0 !important;
}

.postMeta {
    color: $text-muted;
    font-size: $small-font-size;

    span {
        display: inline-block;
        margin-right: 10px;
    }

    span > svg {
        margin-right: 4px;
    }
}
