.projectCard {
    border-radius: 0;

    &:last-child {
        border-bottom: 0 !important;
    }
}

.projectThumbnailContainer {
    position: relative;
    height: 100vw;
    max-height: 145px;
}

.projectTag {
    margin-bottom: 0.2rem;
}

.projectContent {
    p:last-child {
        margin-bottom: 0;
    }
}
